/*RESPONSIVE*/

/*MOBILES*/
@media all and (min-width: 320px) and (max-width: 760px) {
  main {
    margin: 0;
  }

  /*HEADER*/
  header{
    margin: 0;
  }


  header nav {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
  header a {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  header a:not(#blue){
    width: 50%;
    text-align: center;
    border-bottom: 2px solid #f2f2f2;
  }
  header a:focus:not(#blue),
  header a:hover:not(#blue){
    border-bottom: 2px solid #0065fc;
    border-top: none;
    color: #0065fc;
  }

  header a:nth-child(3) {
    border: none;
    width: 50%;
    padding-top: 40px;
    margin-left: 70%;
    margin-right: auto;
    font-weight: bold;
    order: -1;
  }
  header img {
    padding-left: 15px;
    padding-top: 15px;
    margin-left: 5%;
    position: absolute;
  }

  /*MENU*/
  #menu {
    padding: 5%;
  }
  #recherche input:nth-child(3) {
    margin-left: -3%;
    border-radius: 10px;
  }

  #recherche input:nth-child(3) {
    border: 1px solid black;
    display: none;
  }
  #recherche i:nth-child(4) {
    opacity: 1;
    margin-left: -3.5%;
  }
  #recherche i:nth-child(4) {
    cursor: pointer;
  }
  #filtres {
    margin-top: 0;
    
    width: 75%;
  }
  #filtres h3 {
    display: flex;
    font-size: 1em;
    margin-top: 3%;
    padding: 3%;
  }
  #filtres button {
    margin: 0;
    margin-bottom: 10px;
  }


  /*HEBERGEMENTS*/
  div h2{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #hebergements h2{
    margin-left: auto;
  }
  #hebergements {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  #hebergements div {
    background-color: white;
    order: 0;
    width: auto;
  }
  #hebergements div figure {
    margin: 0;
    width: 90%;
    margin-top: 15px;
    
  }

  #hebergements img:not(.populaires_img){
    height: 10em;
  }

  #hebergements p:last-child{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    
  }

  /*POPULAIRES*/
  #populaires h2{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #populaires {
    width: auto;
    order: -1;
    border-radius: 0px;
    padding-right: 5%;
    padding-left: 5%;
  }
  #populaires figcaption {
    width: 60%;
  }
  
  #populaires img{
    height: 10em;
  }

  /*ACTIVITES*/
  #activites h2{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #activites {
    display: block;
  }
  
  #ctivites figure{
    width: 100%;
    
  }
  #activites .first{
    margin-top: inherit;
    width: 90%;
    
    margin-left: auto;
    margin-right: auto;
  }
  #activites .first img{
    height: 10em;
  }
  #activites .column {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  .column figure{
    margin-left: auto;
    margin-right: auto;
  }
  #activites img{
    height: 10em;
  }
  
  #activites figure {
    width: 100%;
    
  }
  .column:nth-child(5) figure{
    width: 100%;
  }
  #frioul{
    margin-bottom: 0;
  }
  

  /*FOOTER*/
  footer {
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    display: block;
    margin-bottom: -5%;
  }
  footer div {
    width: auto;
  }
}

/*TABLETTES*/
@media all and (min-width: 760px) and (max-width: 1024px) {
  /*HEADER*/

  header figure {
    padding-left: 15px;
    padding-top: 15px;
    margin: 0;
  }

  header a:focus:not(#blue),
  header a:hover:not(#blue){
    color: #0065fc;
    border-top: 3px solid #0065fc;
  }

  /*MENU*/
  #menu h3 {
    padding: 1%;
  }

  /*HEBERGEMENTS*/
  #hebergements {
    display: block;
  }
  #hebergements div {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    width: auto;
  }
  #hebergements div figure {
    width: 45%;
    margin-left: 0;
    margin-right: 0;
  }

  /*POPULAIRES*/
  #populaires {
    width: 95%;
    margin-bottom: 2%;
  }
  #populaires figure {
    width: 90%;
  }
  #populaires img{
    height: 12em;
  }
  
  #activites{
    justify-content: space-between;
  }
  #activites img {
    width: 100%;
  }
  #activites figure {
    width: auto;
  }
  #activites .first {
    width: 50%;
    height: 25em;
    margin-left: 0;
  }
  .first img{
    height: 20em;
    
  }
  #activites .column{
    height: 25em;
    
    
  }
  #activites .column img{
    height: 100%;
  }
  #activites .column figure{
    height: 100%;
  }
  #activites .column {
    display: flex;
    flex-direction: column;
    
    width: 45%;
  }
  #activites .column figure {
    margin-left: 0;
    margin-right: 0;
  }
  
  #activites figure:nth-child(2):not(.first){
    
    margin-bottom: 0;
  }


  /*FOOTER*/
  footer {
    padding-left: 5%;
    padding-right: 2%;
  }
}

/*TAILLES TITRES*/
@media all and (min-width: 1025px) and (max-width: 1345px) {
  #hebergements h3,
  p:not(#hebergements_p){
    font-size: 1.35vw;
  }
}
